{% extends 'base.html' %}
{% block title %}{{ book.title }}{% endblock title %}
{% block extrastyle %}
	<style type="text/css">
		img{
			max-height: 300px;
		}
	</style>
{% endblock extrastyle %}
{% block content %}
	<section class="span8 offset2">
	<img class="img-polaroid" src="{{ MEDIA_URL }}{{ book.picture }}" alt="{{ book.description }}">
	<h2>{{ book.title }}</h2>
	<p>{{ book.description }}</p>
	{% for author in book.authors.all %}
		{{ author }}
	{% endfor %}
	</section>
{% endblock content %}