{% load i18n %}
<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Libreria | {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/books-icon.png" />
	{% block extrastyle %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a href="#" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="/" class="brand">Libreria plastiquito azul</a>
				<div class="nav-collapse collapse">
					<p class="navbar-text pull-right">
					{% if user.is_authenticated %}
						Bienvenido, <a href="{% url profile %}"><i class="icon-user"></i> {{ user.first_name }} {{ user.last_name }}</a> <a href="{% url logout %}"> <i class="icon-off"></i></a>
					{% else %}
						<a href="#login-modal" role="button" data-toggle="modal">Log in</a>
					{% endif %}
					</p>
					<ul class="nav">
						<li class="active">
							<a href="/"><i class="icon-home"></i> Home</a>
						</li>
						<li><a href="/admin/"><i class="icon-wrench"></i> Admin</a></li>
						<li>
							<a href="{% url shopping_cart %}"><i class="icon-shopping-cart"></i> Carrito</a>
						</li>
						<li>
							<form class="navbar-search pull-rigth" action="/" method="get">
								<i class="icon-search"></i> <input name="query" type="text" class="search-query" placeholder="Buscar" autofocus>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<br />
	<br />
	<br />
	<section class="container-fluid">
		<section class="row-fluid">
			{% block navigation %}
			{% endblock %}
			{% block content %}
			{% endblock %}
		</section>
		<hr />
		<footer id="page-footer">
			<p>&copy; Libreria</p>
		</footer>
	</section>
	<!-- login modal -->
	<div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-helper">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>Ingresa a tu cuenta</h3>
			</div>
			<div class="modal-helper">
				<form action="{% url login %}" method="post" class="form-horizontal">{% csrf_token %}
					<div class="control-group">
						<label for="username" class="control-label">Usuario</label>
						<div class="controls">
							<input type="text" name="username" id="username" placeholder="usuario" autofocus required />
						</div>
					</div>
					<div class="control-group">
						<label for="password" class="control-label">Contraseña</label>
						<div class="controls">
							<input type="password" name="password" id="password" placeholder="Contraseña" required />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" name="checkbox" id="checkbox" /> Recordar
							</label>
							<input type="submit" value="Entrar" class="btn btn-primary">
							<a href="{% url register %}" class="btn btn-success">Registrar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end login modal -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</script>
	{% block bottomscript %}{% endblock %}
</body>
</html>